.btn-lang {
    position: fixed;
   background-color : #31B0D5;
  color: white !important;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
  top: 200px;
  left: 10px;
  z-index: 100;
  font-size: 13px;
}
@media only screen and (max-width: 768px) {
  .btn-lang {
  bottom: -4px;
  right: 10px;
  padding: 10px 20px;
  top: unset;
  left: unset;
}
}
