<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	<!-- comment -->
   <div id="fb-root"></div>
   <script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=2039045796199166";
   fjs.parentNode.insertBefore(js, fjs);
   }(document, "script", "facebook-jssdk"));</script>
   <!-- comment -->
  <div class="wrapper">
    {{ content }}
  </div>
  
  {% include analytics.html %}
</body>
</html>
