<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	<!-- comment -->
   <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2039045796199166',
      xfbml      : true,
      version    : 'v5.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
   <!-- comment -->
   
  <div class="wrapper">
    {{ content }}
  </div>
  
  {% include analytics.html %}
</body>
</html>
